@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
}
a:hover {
  text-decoration: none;
}
.width {
  width: 1200px;
  margin: 0 auto;
}
#loading_Bar {
  height: 5px;
  background-color: #fc3;
}
#headerTop {
  height: 60px;
  background-color: #fc3;
}
.fixTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#headerTop .width {
  height: 100%;
  pointer-events: none;
}
#headerTop #hTL {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#headerTop #hTR {
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.fCol_center{
  /*위에서 아래로 수직 배치*/
  flex-direction: column;
  /*중앙정렬*/
  justify-content: center;
}
.header{height: 74px;}
#searchBox {
  position: relative;
}
#searchBox i {
  position: absolute;
  right: 10px;
  pointer-events: none;
}
#searchBox #search{
  padding: 10px 18px;
  padding-right: 80px;
  font-size: 0.9em;
  border-radius: 20px;
  border: none;
  outline: 1px solid #ddd;
  transition: 0.3s;
  /* font-family: 'Noto Sans KR', sans-serif; */
}
#searchBox #search:hover {outline: 1px solid #999;}
#searchBox #search:focus {
  outline: 1px solid #999;
  padding-right: 150px;
  transition: 0.3s;
}

#searchBox #search::placeholder {color:#ccc;}
#loginBox button{
  font-size: 1.12em;
  font-weight: 600;
}
#navbardrop {
  padding-left: 10px !important;
  padding-right: 20px !important;
  font-size: 1.2em !important;
}
.dropdown-menu {
  top: 45px;
  left: 10px;
  padding-right: 20px;
  border: none;
  border-radius: 0px;
  background-color: #FAFAFA;
  font-size: 0.8em;
}
.dropdown-menu a{color: #777;}
.dropdown-menu span{
  padding-top: 12px;
  padding-left: 16px;
  color: #000;
  font-size: 1em;
  font-weight: 700;
}
.none-item {pointer-events: none;}
.navIconBox .nav-icon {
  font-size: 1.1em;
  margin-left: 10px;
  margin-right: 10px;
}
.navIconBox .nav-icon:hover {
  color: #000;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 5px #fda;
}

.navIconBox .nav-icon:hover + .help {
  top: -50px;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.navIconBox .help {
  position: absolute;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 0px 2px 1px #ddd;
  background-color: #fff;
  text-align: center;
  top: -20px;
  opacity: 0;
  visibility: hidden;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  pointer-events: none;
  transition: 0.3s;
}
#help1 {left:120px}
#help2 {left:240px}
#help3 {left:340px}
#help4 {left:440px}

#mainView {
  padding-top: 60px;
  padding-bottom: 60px;
  transition: 0.5s;
}

#mainView_1 {
  padding-left: 60px;
  margin-top: 30px;
}
#mainViewTitle {
  color: #fff;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 2.4em;
  font-weight: 500;
}
#mainView_searchBox{position: relative;}
#mainView_searchBox #search2 {
  margin: 20px 0;
  background: none;
  border: none;
  border-radius: 4px;
  outline: 2px solid #fff;
  padding: 12px 300px 12px 20px;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4em;
  color: #fff;
}
#mainView_searchBox i {
  position: absolute;
  font-size: 2.2em;
  top: 30px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

#mainView .hasTag {
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba( 255, 255, 255, 0.05);
  opacity: 1;
  cursor: pointer;
}


#slideImg {
  position: relative;
  width: 500px;
  z-index: 2;
}
.carousel-inner img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
#slideNumbar {
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  padding: 3px 8px;
  border-radius: 24px;
  left: 80%;
  top: 85%;
  z-index: 1;
}
#slideNumbar span {
  color: #fff;
}
.carousel-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 42%;
  background-color: #fff;
  border-radius: 35px;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.3s;
}
.carousel-btn:hover {
  opacity: 1;
  transition: 0.3s;
}


